.gear1 {
  transform-origin: center;
  animation: rotatePos 7s infinite;
}

.gear2 {
  transform-origin: center;
  animation: rotateNeg 7s infinite;
}

.gearBoxSlow .gear1 {
  animation: scaleUpDownAndRotatePos 7s infinite;
}

.gearBoxSlow + .gear2 {
  animation: scaleUpDownAndRotateNeg 7s infinite;
}

@keyframes scaleUpDownAndRotatePos {
  0% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
  10% {
    opacity: 0;
    transform: rotate(36deg) scale(1.4);
  }

  20% {
    opacity: 1;
    transform: rotate(72deg) scale(1);
  }

  30% {
    opacity: 0;
    transform: rotate(108deg) scale(1.4);
  }

  40% {
    opacity: 1;
    transform: rotate(144deg) scale(1);
  }

  50% {
    opacity: 0;
    transform: rotate(180deg) scale(1.4);
  }

  60% {
    opacity: 1;
    transform: rotate(216deg) scale(1);
  }

  70% {
    opacity: 0;
    transform: rotate(252deg) scale(1.4);
  }

  80% {
    opacity: 1;
    transform: rotate(288deg) scale(1);
  }

  90% {
    opacity: 0;
    transform: rotate(324deg) scale(1.4);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}
@keyframes scaleUpDownAndRotateNeg {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
  10% {
    opacity: 0;
    transform: rotate(-36deg) scale(1.4);
  }

  20% {
    opacity: 1;
    transform: rotate(-72deg) scale(1);
  }

  30% {
    opacity: 0;
    transform: rotate(-108deg) scale(1.4);
  }

  40% {
    opacity: 1;
    transform: rotate(-144deg) scale(1);
  }

  50% {
    opacity: 0;
    transform: rotate(-180deg) scale(1.4);
  }

  60% {
    opacity: 1;
    transform: rotate(-216deg) scale(1);
  }

  70% {
    opacity: 0;
    transform: rotate(-252deg) scale(1.4);
  }

  80% {
    opacity: 1;
    transform: rotate(-288deg) scale(1);
  }

  90% {
    opacity: 0;
    transform: rotate(-324deg) scale(1.4);
  }

  100% {
    opacity: 1;
    transform: rotate(-360deg) scale(1);
  }
}

@keyframes rotatePos {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(36deg);
  }

  20% {
    transform: rotate(72deg);
  }

  30% {
    transform: rotate(108deg);
  }

  40% {
    transform: rotate(144deg);
  }

  50% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(216deg);
  }

  70% {
    transform: rotate(252deg);
  }

  80% {
    transform: rotate(288deg);
  }

  90% {
    transform: rotate(324deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateNeg {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(-36deg);
  }

  20% {
    transform: rotate(-72deg);
  }

  30% {
    transform: rotate(-108deg);
  }

  40% {
    transform: rotate(-144deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  60% {
    transform: rotate(-216deg);
  }

  70% {
    transform: rotate(-252deg);
  }

  80% {
    transform: rotate(-288deg);
  }

  90% {
    transform: rotate(-324deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}
