.showCaseContainer {
  transform: perspective(1000px) translate3d(0, 0, 0);
}

.showCase-0 {
  top: 0;
  left: 0;
}

.showCase-1 {
  top: 1000px;
  left: 0px;
}

.showCase-2 {
  top: 1000px;
  left: 1800px;
}

.showCase-3 {
  top: 0px;
  left: 1800px;
}

.showCase-4 {
  top: 2000px;
  left: 1800px;
}

.showCase-5 {
  top: 1000px;
  left: 3600px;
}

.showCase-6 {
  top: 0px;
  left: 3600px;
}

.animateToTop {
  animation: toTop 0.2s ease;
  animation-fill-mode: backwards;
}

/* ShowCase Quote Fade Animtions */

@keyframes toTop {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}
